<section class="about-wrap">
    <h2>About the AI4Ocean Workshop</h2>
    <p>
        Machine learning is rapidly transforming the landscape of oceanography.
        At the same time, in situ and satellite observations from missions such
        as SWOT and PACE - together with high-resolution simulations - are
        revealing ocean variability at unprecedented spatial and temporal
        scales. This creates a unique opportunity to rethink how we observe,
        model, and understand the ocean as a coupled, data-rich system. This
        workshop is designed to team scientists, students and early-career
        researchers. AI4Ocean fosters synergies among experts in ocean dynamics,
        remote sensing and machine learning. Through lectures, collaborative
        projects, and hands-on data exploration, this workshop aims to catalyze
        a new generation of scientifically grounded Ocean-AI research.
    </p>

    <h2>AI4Ocean Goals</h2>
    <strong>Build an Ocean-AI community</strong><p>
        Faster a cross-disciplinary community with a shared vision of advancing
        ocean science through innovation data science and AI technologies.
        Promote collaboration across domains, institutions, and career stages.
    </p>
    <strong
        >Establish scientifically rigorous pathways for AI in oceanography</strong
    ><p>
        Define clear machine learning practice to ensure research outcomes are
        consistent with known ocean dynamics. This ensures that AI methods
        contribute meaningfully to scientific understanding.
    </p>
    <strong>Enable future ocean observations through AI innovation</strong><p>
        Identify where AI can transform ocean observing systems, data
        assimilation, and predictive capabilities. This will lay the groundwork
        for future observing system concepts and strategic ocean-AI integration
    </p>

    <h2>Past AI4Ocean Events</h2>

    <a href="#about" class="event-button"> AI4Ocean 2024 </a>
</section>

<style>
    .about-wrap {
        padding: 64px 10px 20px 20px;
        margin: 0 auto;
    }

    .about-wrap p {
        font-size: 1.2rem;
        margin: 0;
        color: #334155;
    }

    .about-wrap strong {
        font-size: 1.2rem;
        color: #334155;
    }

    .event-button {
        display: inline-block;
        background-color: #0288d1;
        color: white;
        padding: 12px 24px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    .event-button:hover {
        background-color: #0277bd;
    }
</style>
