<header class="topbar">
    <a href="/"><h2>AI4Ocean 2026</h2></a>
    <nav>
        <a href="#about">About</a>
        <a href="#agenda">Agenda</a>
        <a href="#team">Team</a>
        <a href="#projects">Projects</a>
        <a href="#sponsors">Sponsors</a>
    </nav>
</header>

<style>
    .topbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var(--header-h);
        background-color: #000;
        color: #fff;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav a {
        margin-left: 0.2rem;
    }

    .topbar a,
    .topbar a:visited,
    .topbar a:hover,
    .topbar a:active,
    .topbar a:focus {
        color: #fff;
        text-decoration: none;
    }
</style>
